@media (min-width:700px) and (max-width:800px){ /*primero siempre colacamos el mínimo*/
  .catPicture{
    background-image: url(../img/night.jpg);
    background-size: cover;
  }
  .cat{
    content: url(../img/kitten-small.png);
    margin-left: 50%;
    padding-top:20em;
  }
}
@media (min-width:400px) and (max-width:699px){ 
  .catPicture{
    background-image: url(../img/dawn.png);
    background-size: cover;
    background-position: center;
  }
  .cat{
    content: url(../img/kitten-large.png);
    width: 25em;
    padding-top: 25em;
  }
}
